doctype html
html(lang='zh-CN')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 上海海事大学入学信息查询
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="index.css")
    script(src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="#") 新生入学 - 迎新系统
    .container
      .row
        .col-xs-12.col-sm-6.col-md-5
          form#formLogin.form-horizontal(action="http://enroll.shmtu.edu.cn/freshmen/loginAction.do?method=login", target="formHandler", method="POST")
            .form-group
              label.control-label.col-sm-5(for="inputId") 通知书条形码编号
              .col-sm-7
                .input-group
                  span.input-group-addon
                    .glyphicon.glyphicon-barcode
                  input#inputId.form-control(type="text", name="name", placeholder="xxxxxx")
            .form-group
              label.control-label.col-sm-5(for="inputPwd") 身份证后六位
              .col-sm-7
                .input-group
                  span.input-group-addon
                    .glyphicon.glyphicon-user
                  input#inputPwd.form-control(type="password", name="password")
                span.help-block X 字符用大写字母
            .form-group
              label.control-label.col-sm-5(for="inputVc") 验证码
              .col-sm-7
                .input-group
                  span.input-group-addon
                    img#imgVc(onclick="javascript:updateVC();" src="http://enroll.shmtu.edu.cn/freshmen/CheckCodeImage", alt="")
                  input#inputVc.form-control(type="text", name="chkCode")
            .form-group
              .col-sm-7.col-sm-offset-5
                button.btn.btn-primary(type="submit") 查询
            p.text-info 提示：如果结果框里神奇地出现了官网首页，说明没有登录成功。请重新输入正确信息再试。
        .col-xs-12.col-sm-6.col-md-7.pull-right#offset
          iframe#theMadafaka
        .col-xs-12.col-sm-6.col-md-5
          p 主要内容有：学号班级、寝室号床号、辅导员。
          p.
            寝室号床号，学校方面需要一定时间录入，可能会<b>显示为空白</b>，通常比学号班级信息的录入晚数周，请持续关注。
            开学后可使用<b>学号</b>，并以身份证后六位为密码，登录学校的
            <a href="https://portal.shmtu.edu.cn/", target="_blank">数字平台</a> 。
          p 把通知书搞丢了怎么办？请尽快根据手册上的电话号码，联系您的辅导员老师告知情况并协商解决。
    footer
      .container: .row: .col-xs-12.text-center
        .alert.alert-info
          p 此页面通过访问
            a(href="http://enroll.shmtu.edu.cn/freshmen/index.do", target="_blank") 上海海事大学迎新系统（官方）
            | 获取数据。在您的设备上自动登录、查询完毕，任何信息都不会被网站记录。
        p.small 源代码位于 
          a(href="https://github.com/LionNatsu/enroll-wrapper", target="_blank") GitHub
          | ，
          a(href="https://getbootstrap.com/", target="_blank") Bootstrap
          |  为前端框架，含 
          a(href="https://glyphicons.com/", target="_blank") GLYPHICONS
          |  图标。
        p.small 作者：外国语学院 2015 级某学长
    iframe#formHandler(name="formHandler")
    script.
      var Esimorp = {
        taskQueue: [],
        then: function(fnc) {
          this.taskQueue.push(fnc);
          return this;
        },
        go: function() {
          that = this;
          function resolve() {
            var fnc = that.taskQueue.shift();
            if(fnc) fnc(resolve);
          }
          resolve();
        }
      }
      function updateVC() {
        $('#inputVc').val('');
        $('#imgVc').attr('src', 'http://enroll.shmtu.edu.cn/freshmen/CheckCodeImage?timestamp=' + new Date().getTime());
      }
      $(function() {
        $('#inputId').attr('placeholder', (new Date().getFullYear()-2000) + 'xxxx');
        $('#formLogin').submit(function() {
          var esi = Esimorp;
          esi.then(function(resolve) {
            $('#formHandler').load(resolve);
          }).then(function(resolve) {
            $('#formHandler').load(null);
            $('#theMadafaka').attr('src', 'http://enroll.shmtu.edu.cn/freshmen/checkinmanageAction.do?method=personalinfoview');
            $('#theMadafaka').load(resolve);
          }).then(function(resolve) {
            $('#theMadafaka').load(null);
            $('#formHandler').attr('src', 'http://enroll.shmtu.edu.cn/freshmen/logoutAction.do?method=logout');
            $('#formHandler').load(resolve);
          }).then(function(resolve) {
            $('#formHandler').load(null);
            window.setTimeout("updateVC()", 1000);
            resolve();
          }).go();
        });
      });
      console.log('很惭愧，就做了一点微小的工作，谢谢大家。');
      console.log('UVEzNzI2OTEwMDYK 狮子.');
