
body
  font-family 'Hiragino Sans GB W3', 'Microsoft YaHei UI', sans

h1 > small
  margin-left 1em

#formLogin
  margin-top 20px
  #imgVc
    filter grayscale()
    -webkit-filter grayscale()
  input
    font-family monospace

#theMadafaka
  width 100%
  height 100%
  border 1px solid #ccc
  border-radius 4px
  min-height 400px
  filter hue-rotate(215deg)
  -webkit-filter hue-rotate(215deg)
  margin-top 20px
  background-color #eee

#formHandler
  // Drop out from layout
  position absolute
  visibility hidden
  top 0

footer
  margin 20px 0
